page-jogos {
	.titulo{

		padding-bottom:5px;
	}
	.esquerda{
		text-align: left;
	}
	.direita{
		text-align: right;
	}
	.centro{
		text-align: center;
	}
	.n{
		font-weight: bold;
	}
	.data{
		padding-right: 15px;
	}
	.scroll-content{
		background-image: url('../assets/img/bg1.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
}

	.label-md {
		margin: 0px 8px 0px 0;
	}
	ion-item{
		padding: 0px 0px !important;

	}
	.list-md{
		margin: 2px -5px;
	}
	.jogos{
		margin-bottom: 10px;
	}

}

