page-about {

.titulo{
	background-color: #283a28 !important;
	text-align: center !important;
	color: #fff !important;
	font-weight: bold !important;
}
.esquerda{
	text-align: left;
}
.direita{
	text-align: right;
}
.centro{
	text-align: center;
}
.n{
	font-weight: bold;
}
}
