page-inicial {
	ion-list{
		border-bottom: solid 1px #8f8f8f !important;
	}
	.n{
		font-weight: bold;
	}
	.lista .titulo{
		background: #283a28;
		color: #fff;
		border-bottom: solid 1px #283a28 !important;
		margin-top: 30px;
	}
	.scroll-content{
		background-image: url('http://altinao2017.mayrcon.com.br/img/jogador1.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
}
.lista{

}
	ion-slides{
		margin-top: -30px !important;
		min-height: 550px !important;
	}
	//ion-item-divider{
	//	padding: 0px 0px !important;
	//	margin: 0px 0px !important;
	//}
	//ion-item{
	//	padding: 0px 10px !important;
    //
	//}
}
