<ion-header class="header-color">
  <ion-navbar>
    <ion-title>Times</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Pull to refresh"
                               refreshingSpinner="circles"
                               refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>
    
    <ion-slides pager=true>
    <ion-slide>
    <ion-list class="lista">
        <ion-item-divider class="titulo" *ngFor="let time of timea">
            <ion-avatar item-start>
                <img src="http://altinao2017.mayrcon.com.br/img/barsemlona.png">
            </ion-avatar>
            <h2 class="n">{{time.time}}</h2>
        </ion-item-divider>
        <ion-item *ngFor="let jogador of jogadoresa">
            <p class="n">{{jogador.nome}}</p>
        </ion-item>
    </ion-list>
    </ion-slide>
    <ion-slide>
    <ion-list class="lista">
        <ion-item-divider class="titulo" *ngFor="let time of timeb">
            <ion-avatar item-start>
                <img src="http://altinao2017.mayrcon.com.br/img/laranjada.png">
            </ion-avatar>
            <h2 class="n">{{time.time}}</h2>
        </ion-item-divider>
        <ion-item *ngFor="let jogador of jogadoresb">
            <p class="n">{{jogador.nome}}</p>
        </ion-item>
    </ion-list>
    </ion-slide>
    <ion-slide>
    <ion-list class="lista">
        <ion-item-divider class="titulo" *ngFor="let time of timec">
            <ion-avatar item-start>
                <img src="http://altinao2017.mayrcon.com.br/img/pecomchule.png">
            </ion-avatar>
            <h2 class="n">{{time.time}}</h2>
        </ion-item-divider>
        <ion-item *ngFor="let jogador of jogadoresc">
            <p class="n">{{jogador.nome}}</p>
        </ion-item>
    </ion-list>
</ion-slide>
</ion-slides>

</ion-content>
