page-inicial {
	ion-list{
		border-bottom: solid 1px #8f8f8f !important;
	}
	.n{
		font-weight: bold;
	}
	.lista .titulo{
		background: #283a28;
		color: #fff;
		border-bottom: solid 1px #283a28 !important;
		margin-top: 30px;
	}
	.scroll-content{
		background-image: url('http://altinao2017.mayrcon.com.br/img/jogador1.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
}
.lista{
	padding-top: 30px;
	padding-bottom: 40px;
	
}
ion-slide{
	padding: 0px 0px;
}
}
