page-contact {

.esquerda{
	text-align: left;
}
.direita{
	text-align: right;
}
.centro{
	text-align: center;
}
.n{
	font-weight: bold;
}


ion-list{
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
}
.divisao{
	border-left: solid 1px #cccccc;

}
ion-item-group{
	margin-top: 10%;
}
ion-content{
	background-image: url('http://altinao2017.mayrcon.com.br/img/bg2.jpg');
}
}
