page-contact {
.titulo{
	background-color: #283a28;
	text-align: center;
}
.esquerda{
	text-align: left;
}
.direita{
	text-align: right;
}
.centro{
	text-align: center;
}
.n{
	font-weight: bold;
}
.row{
	padding-top: 3px !important;
	border-bottom: solid 1px #cccccc;
	/*transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) !important;*/
}
ion-grid{
	margin-top: 10%;
}
ion-list{
	padding-top: 15px;
}
.divisao{
	border-left: solid 1px #cccccc;
}
}
